body{
    margin:0;
    font-family:Segoe UI, sans-serif;
    background:linear-gradient(120deg,#0f2027,#203a43,#2c5364);
    color:white;
    scroll-behavior:smooth;
}

header{
    text-align:center;
    padding:60px 20px;
}

nav{
    text-align:center;
    background:rgba(0,0,0,0.4);
    padding:15px;
    position:sticky;
    top:0;
    backdrop-filter:blur(10px);
}

nav a{
    margin:0 20px;
    text-decoration:none;
    color:#00ffd5;
    font-weight:bold;
    transition:.3s;
}

nav a:hover{
    color:white;
}

section{
    max-width:900px;
    margin:80px auto;
    padding:20px;
}

h2{
    border-bottom:2px solid #00ffd5;
    display:inline-block;
}

.skills span{
    display:inline-block;
    background:#00ffd5;
    color:black;
    padding:10px 18px;
    margin:8px;
    border-radius:30px;
    font-weight:bold;
    transition:.3s;
}

.skills span:hover{
    transform:scale(1.1);
}

.card{
    background:rgba(255,255,255,0.08);
    padding:20px;
    margin:20px 0;
    border-radius:15px;
    backdrop-filter:blur(10px);
    transition:.4s;
}

.card:hover{
    transform:translateY(-8px);
}

.card a{
    color:#00ffd5;
    font-weight:bold;
}

footer{
    text-align:center;
    padding:30px;
    opacity:.7;
}

/* animation hidden state */
.reveal{
    opacity:0;
    transform:translateY(40px);
    transition:1s;
}

/* animation visible */
.reveal.active{
    opacity:1;
    transform:translateY(0);
}
.btn{
    display:inline-block;
    padding:10px 20px;
    background:#0a66c2;
    color:white;
    text-decoration:none;
    border-radius:25px;
    transition:.3s;
}
.btn:hover{
    background:#004182;
    box-shadow:0 0 15px rgba(255,255,255,0.6);
}
.contact-links{
    margin-top:20px;
    text-align:center;

}

.contact-btn{
    display:inline-block;
    margin:10px;
    padding:12px 25px;
    text-decoration:none;
    color:white;
    border-radius:30px;
    font-weight:bold;
    transition:.3s;
}

/* Email Button */
.email{
    background:linear-gradient(45deg,#ff512f,#dd2476);
}
.email:hover{
    transform:scale(1.1);
    box-shadow:0 0 15px rgba(255,255,255,0.6);
}

/* GitHub Button */
.github{
    background:linear-gradient(45deg,#333,#000);
}
.github:hover{
    transform:scale(1.1);
    box-shadow:0 0 15px rgba(255,255,255,0.6);
}
